header {
    display: flex;
    background-color: #fbb04c;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    align-items: center;
}

body {
    font-family: Verdana, sans-serif;
    display: flex;
    /* justify-content: auto;   */
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    background-color: white;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-icon {
    margin-left: 1rem;
    z-index: 2;
}

h1 {
    color: white;
    text-align: center;
    justify-content: top;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    padding: 30px;
}

p {
    color: #666;
    text-align: center;
}

div.buttons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

a {
    text-decoration: none;
}

a p {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: center;
    color: white;
    align-self: flex-end;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.home-button {
    width: 28vw;
    height: 28vw;
    margin: 0.977vw;
    color: white;
    font-family: verdana, sans-serif;
    font-size: 3.516vw;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 0.977vw;
}

.home-button:hover {
    transform: scale(1.05);
}

#lifestyle-button {
    background-color: #FD6E6E;
}

#lifestyle-button:hover {
    background-color: #f55a5a;
}

#exercises-button {
    background-color: #65ADF0;
}

#exercises-button:hover {
    background-color: #42a5f5;
}

#problem-button {
    background-color: #6BCF5D;
}

#problem-button:hover {
    background-color: #4FA943;
}

.icon-image {
    width: 15.582vw;
    height: 15.582vw;
}

#lightbulb-icon {
    width: 25.444vw;
    height: 15.582vw;
}

button#cognitive-exercises {
    background-color: #65ADF0;
}

button#lifestyle-tips {
    background-color: #FD6E6E;
}

button:hover {
    transform: scale(1.05);
}

button#cognitive-exercises:hover {
    background-color: #42a5f5;
}

button#lifestyle-tips:hover {
    background-color: #f55a5a;
}

.tip-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 20.513vw;
    margin-bottom: 0.493vw;
    margin-top: 0.493vw;
    border-radius: 25px;
    background-color: #85DCA9;
}

.tip-container img {
    filter: brightness(0) saturate(100%);
}

button#tipButton {
    width: 80%;
    height: 5vw;
    border-radius: 25px;
    border: none;
    background-color: #34D376;
    color: black;
    font-family: Verdana;
    font-size: 3.55vw;
    transition: background-color 0.3s ease;
}

#tipButton:hover {
    background-color: #28A85E;
}

#tipText {
    font-family: Verdana;
    font-size: 3.55vw;
    color: black;
    float: right;
}

h2 {
    color: black;
    font-family: Verdana;
    font-size: 3.55vw;
}

#reminderContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reminder-tab {
    width: 80%;
    height: 12vw;
    text-align: center;
    background-color: #85DCA9;
    border-radius: 25px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#addReminderButton {
    width: 9.665vw;
    height: 7.89vw;
    font-family: Verdana;
    font-size: 3.55vw;
    background-color: #85DCA9;
    border-radius: 25px;
    border: none;
}

#reminderForm {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.reminder-time {
    width: 14.821vw;
    height: 8.903vw;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #98F9C0;
    font-family: Verdana;
    font-size: 3.55vw;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
}

#reminderTime {
    width: 21.696vw;
    height: 5.325vw;
    margin: 0.986vw;
    border-radius: 25px;
    border: 0.986vw solid #85DCA9;
    background-color: #98F9C0;
    color: black;
    font-family: verdana;
    font-size: 20px;
}

.reminder-text {
    font-family: Verdana;
    font-weight: bold;
    font-size: 3.55vw;
    color: black;
}

#reminderText {
    width: 25.049vw;
    height: 5.325vw;
    margin: 0.986vw;
    border-radius: 25px;
    border: 10px solid #85DCA9;
    background-color: #98F9C0;
    font-family: Verdana;
    font-size: 20px;
    color: black;
    text-align: center;
}

#saveReminder {
    width: 194px;
    height: 54px;
    margin: 0.986vw;
    border-radius: 25px;
    border: none;
    color: black;
    font-family: verdana;
    font-size: 20px;
    background-color: #85DCA9;
}

.music-card {
    height: 22.584vw;
    width: 22.584vw;
    background-color: #85DCA9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 10%;
}

.album-art {
    height: 14.3vw;
    width: 14.3vw;
    margin: 0.986vw;
}

.controls {
    margin-bottom: 10px;
}

#playButton,
#pauseButton,
#nextButton {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: grey;
}

.progress-container {
    position: relative;
    height: 20px;
}

#progressBar {
    width: 100%;
    appearance: none;
    height: 6px;
    background: #ccc;
    border-radius: 3px;
    outline: none;
}

.progress {
    height: 6px;
    background-color: black;
    width: 0%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.thumb {
    width: 16px;
    height: 16px;
    background-color: #ddd;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 0%;
    transform: translateX(-50%);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 10px;
    position: absolute;
    top: 25%;
    margin-top: 1.972vw;
}

.card {
    width: 80px;
    height: 80px;
    background: #8EF580;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    transition: transform 0.3s;
}

.card.flipped {
    background: #34D376;
}

.card.matched {
    background: #1d924f;
    pointer-events: none;
}

#score {
    font-family: verdana;
    font-size: 36px;
    margin: 5px;
    color: black;
    border: solid black;
    padding: 0.986vw;
    background-color: #34D376;
    border-radius: 25px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #34D376;
    color: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.popup.hidden {
    display: none;
}

#popupButton {
    margin-top: 10px;
    background: white;
    color: #34D376;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

#popupButton:hover {
    background: #f0f0f0;
}


#gameArea {
    position: relative;
    width: 90vw;
    height: 70vh;
    margin: 0 auto;
    border: 2px solid #333;
    background-color: #f0f0f0;
    overflow: hidden;
    border: none;
    border-radius: 25px;
    background-color: #8EF580;
}

.target {
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s;
}

.target:hover {
    transform: scale(1.2);
}